body {
  max-width: 960px;
  margin: 0 auto;
  background-color: purple;
}


nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loggedin {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.loggedin a {
  display: flex;
}
