body {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  margin-bottom: 0;
  position: relative;
  overflow: auto;;
}

#nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a8327b;
}

#nav span {
  font-size: 50px;
  margin-left: 20px;
}

#dropdownMenuButton::after {
  display: none;
}

#dropdownMenuButton:focus {
  box-shadow: none!important;
}

#dropdownMenuButton {
  background-color: white;
  border: none;
}

#usericon {
  color: #a8327b;
}

.dropdown-menu {
  min-width: 150px;
}

.loggedin {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.loggedin a {
  display: flex;
  margin-right: 10px;
  font-size: 20px;
  color: #a8327b;
}

.loggedin a:hover {
  text-decoration: none;
  font-weight: bold;
}

.centred-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

h1 {
  margin-bottom: 20px;
}

span {
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
  color: #a8327b;
}

.centred-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.selection {
  background-color: #ccc;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-source {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.search form {
  display: flex;
  align-items: center;
}

.search input {
  min-width: 300px;
}

.selfie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selfie img {
  width: 50px;
}

.pic-name {
  width: 200px;
  overflow: hidden;
}

.results {
  margin-top: 30px;
  padding: 0 10px;

}

.image-results {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-results img {
  border: 1px solid #ddd;
  border-radius: 15px;
  max-width: 180px;
  max-height: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#ActivityDIV {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ccc;
  padding-top: 20px;
}

.links {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links img {
  width: 40px;
  cursor: pointer;
}

.selection img {
  width: 40px;
  cursor: pointer;
}

.canvas {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 95%;
  max-height: 95%;
  border: 1px solid #000;
}


#ActivityDIV .swatchHolder{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #ccc;
  margin:auto;
  list-style-type:none;
  text-align:center;
  display:inline-block;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
}

#ActivityDIV .swatchHolder ul {
  padding: 0;
}


#ActivityDIV .swatchHolder .colorHolder{
  display: inline-block;
  width: 200px;
  line-height: 100%;
  padding: 10px 0px;
  margin: 0px auto 10px auto;
  cursor:pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
          box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}


.undo-icon {
  width: 40px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px;
  background-color: #fff;
}

.swatchHolder li:not(.colorHolder):hover {
  transform: scale(1.2);
}


.swatchHolder li:not(.colorHolder){
  height:30px;
  width:30px;
  margin:4px;
  display:inline-block;
  cursor:pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.delete-save {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.delete-pic {
  display: flex;
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 20px;
}

.delete-pic:hover {
  font-weight: bold;
  cursor: pointer;
}

.save-pic {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.save-pic input{
  margin-left: 10px;
}

.camera-page {
  padding: 20px;
}

.camera {
  margin: 20px auto;
}


.canvas-edge {
  margin: 0 auto;
  width: 100vw;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.canvas-child {
  width: 300px;
  height: 225px;
  border: 1px solid #000;
  margin-right: 20px;
}

.canvas-edge button {
  width: 100px;
  height: 100px;
  font-weight: bold;
  background-color: #111;
}

.canvas-edge button:hover {
  background-color: #444;
  style: none;
}

.footer {
  margin: 0 auto;
  height: 60px;
  background-color: #fff;
  position: relative;
  border-top: 2px solid #a8327b;
  padding-top: 20px;
  bottom: 0;
  color: #a8327b;
  z-index: 1;
}

.footer h6 {
  margin: 0 auto;
  text-align: center;
}
